# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
*.db
*.sqlite

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Virtual environment
.venv/
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
